.timeline-section {
  display: flex;
  gap: 50px;
  padding: 60px;
  background: #f5f5f5;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .timeline-section {
    flex-direction: column;
    gap: 40px;
  }
}


.timeline-column {
  flex: 1;
}

.timeline-title {
  color: #facc15;;
  margin-bottom: 20px;
}

.timeline-line {
  position: relative;
  padding-left: 30px;
  border-left: 2px solid #ccc;
}

.timeline-item {
  position: relative;
  margin-bottom: 30px;
}

.timeline-dot {
  position: absolute;
  left: -38px;
  top: 15px;
  width: 14px;
  height: 14px;
  background: #facc15;
  border-radius: 50%;
}

.timeline-card {
  background: white;
  padding: 15px;
  border-radius: 6px;
  transition: 0.3s;
}

.timeline-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.timeline-year {
  color: #facc15;
  font-weight: bold;
}
